<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 text-center">
        <H3 class="after">About Me</H3>
        <div class="col-sm-9 col-md-6 col-lg-8 text-center">
          <!-- <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p> -->
          <H3 style="font-weight: bold;"></H3>
          <p class="lead">
            프로그래밍은 공부할수록  자신이 얼마나 열정을 가지고 공부하느냐에 따라 얼마든지 결과는 달라질 수 있다고 느꼈습니다.웹 개발자로서 활약할 수 있는 인재가 되기위해 6개월간의 교육과정을 통해 Front, Back - End를 학습하고 실습했습니다.
            <br />
            단순히 개발을 하는 것이 아닌 진심으로 개발하는 과정을 즐기면서 한단계 한단계 계속해서 성장해 나가는 개발자가 되겠습니다.
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
