<header id="top" class="header">
    <script src="https://cdn.jsdelivr.net/gh/hiphop5782/js@0.0.6/typing/hakademy-typing.js"></script>
    <script>
        window.addEventListener("load", function(){
            var tag = document.querySelector(".typing");
            var app = new Hakademy.util.typing(tag, {
                text:[
                    "안녕하세요! 개발자 황현지 입니다 :)",
                    "WelCome!",
                    "Developer HWANG HYUNJI",
                    "開発者、ファンヒョンジと申します。",
                    "开发者　黄贤智",
                ],
                color:{
                    apply:true
                }
            });
        });
    </script>
    <div class="text-vertical-center">
    <h1 class="typing"></h1>
      <!-- <h3>Free Bootstrap Themes &amp; Templates</h3> -->
      <br>
      <a href="#about" class="btn btn-dark btn-lg">WHO's THIS?</a>
    </div>
  </header>
  